# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
.eggs/

# Virtualenv
.venv/
venv/
ENV/

# Build
build/
dist/

# Test
.pytest_cache/
.coverage
htmlcov/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
